#game2-board {
    position: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../assets/game2/board.png);
    z-index: 5;
    width: 100vw;
    height: 100vw;
    bottom: 0;
}

.food-item-board {
    position: fixed;
    top: 10px;
    left: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    height: 20%;
    width: 20%;
    z-index: 10;
}

.egg-board {
    background-image: url(../assets/game2/001-egg-board.png);
}

.steak-board {
    background-image: url(../assets/game2/002-steak-board.png);
}

.bread-board {
    background-image: url(../assets/game2/003-bread-board.png);
}

.pasta-board {
    background-image: url(../assets/game2/004-pasta-board.png);
}

.cheese-board {
    background-image: url(../assets/game2/005-cheese-board.png);
}

.onion-board {
    background-image: url(../assets/game2/006-onion-board.png);
}

.ham-board {
    background-image: url(../assets/game2/007-ham-board.png);
}

.salad-board {
    background-image: url(../assets/game2/008-salad-board.png);
}

.dough-board {
    background-image: url(../assets/game2/009-dough-board.png);
}

.tomato-board {
    background-image: url(../assets/game2/010-tomato-board.png);
}

.shrimp-board {
    background-image: url(../assets/game2/011-shrimp-board.png);
}

.pineapple-board {
    background-image: url(../assets/game2/012-pineapple-board.png);
}

.pear-board {
    background-image: url(../assets/game2/013-pear-board.png);
}

.mushrooms-board {
    background-image: url(../assets/game2/014-mushrooms-board.png);
}

.strawberry-board {
    background-image: url(../assets/game2/015-strawberry-board.png);
}

.apple-board {
    background-image: url(../assets/game2/016-apple-board.png);
}

#recipe-hint {
    position: fixed;
    background-color: #434343;
    border: 2px #f8c545 solid;
    font-size: 16px;
    margin: 10px auto;
    height: 70px;
    left: 0;
    right: 0;
    z-index: 10;
}

.food-item-hint {
    position: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    height: 60px;
    width: 60px;
    z-index: 11;
}

#recipe-title {
    font-size: 24px;
}